.Bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 165px;
  height: 56px;
  border: none;
  border-radius: 50px;
}

.Bookmark img {
  transition: opacity 0.2s;
  height: 55px;
}

.Bookmark span {
  margin: 0 15px;
  color: var(--color-grey-text);
  font-size: 1.6rem;
  font-weight: 500;
}

.Bookmark:hover {
  cursor: pointer;
}

.Bookmark:hover img {
  opacity: 0.5;
}

@media only screen and (max-width: 660px) {
  .Bookmark {
    min-width: 140px;
    height: 47.6px;
  }

  .Bookmark img {
    height: 46.6px;
  }
}
